.movie-card {
  &:hover {
    .movie-poster {
      transform: scale(1.05);
    }
  }
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}